<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite >
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="piku_mau.HealthCheck"/>
      <class name="piku_mau.SignUPTest"/>
      <class name="piku_mau.LoginAPI"/>
      <class name="piku_mau.CartCreation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
